*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 250px;
}

/* #cheems-normal{
    border: 2px solid blue;
} */

.texto-rojo{
    color: tomato;
}

.contenedor-rojo{
    border: 1px solid tomato;
}